Consumer/Service References/UserService/Spike.Contracts.Users.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Spike.Contracts.Users" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Spike.Contracts.Users" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AddUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserRequest" nillable="true" type="tns:AddUserRequest" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>